# ./configure
/version.xml

# make
/adg-decl-list.txt
/adg-decl.txt
/adg.overrides.txt
/adg-undeclared.txt
/adg-undocumented.txt
/adg-unused.txt
/adg.args
/adg.hierarchy
/adg.interfaces
/adg.prerequisites
/adg.signals
/html/
/xml/
*.bak
