.deps/
.libs/
*.gcov
*.gcda
*.gcno
*.la
*.lo
*.loT
*.o
*.stamp
/ABOUT-NLS
/aclocal.m4
/autom4te.cache/
/ChangeLog
/config.log
/config.status
/configure
/CONTRIBUTING
/full-report.xml
/full-report.html
/HACKING
/INSTALL
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/NEWS
/perf-report.xml
/perf-report.html
/README
/test-report.xml
/test-report.html
/TODO
Makefile
Makefile.in
