# ./configure
/bookinfo.xml

# make
/cpml-decl-list.txt
/cpml-decl.txt
/cpml-overrides.txt
/cpml-sections.txt
/cpml-undeclared.txt
/cpml-undocumented.txt
/cpml-unused.txt
/cpml.actions
/cpml.args
/cpml.hierarchy
/cpml.interfaces
/cpml.prerequisites
/cpml.signals
/html/
/xml/
*.bak
